
// Bu class elementlerin hem x hem de y oxunda ortalanmasini temin edir
// .flex-full-center {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .flex-horizontal-start {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
// }

// .align-items-center {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// } 
[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
