

body{
background-color: #fff;
font-family: "Poppins", sans-serif;
font-weight: normal;
font-style: normal;

}

h1 {

padding:0px;
margin:0px;
}
h3{
    
    font-family: "Yellowtail", cursive;
    color:#2577fd;
    font-size: 30px;
    display: inline-block;
    line-height: 1.5;
    
}
a {
    color: inherit;
    text-decoration: none;
}