.endirim-item button{
    width:120px;
    height:30px;
    border-radius: 15px;
    background: rgb(66, 66, 243);
    border:none;
    color:white;
    cursor: pointer;
}
// .btn header-btn{
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: #00b1ff;
//     z-index: 1;
//     border-radius: 5px;
//     transition: transform 0.5s;
//     transition-timing-function: ease;
//     transform-origin: 0 0;
//     transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
//     transform: scaleX(0);
// }

    