// Extends
 .column {
    display:flex;
    flex-direction: column;
}
#category{
    width:100%;
    padding:110px 0px;
    .category-bring-to-center{
        width:100%;
        margin:0px auto;
        @extend .column;
        align-items: center;
        .heading{
            margin-bottom: 50px;
        }
        .category-items-row{
            width:90%;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;
            .category-item{
                width:31.5%;
                height:265px;
                background:whitesmoke;
                padding:0px;
                border-radius: 10px;
                box-shadow: 0px 0px 15px darkgray;
                position:relative;
                .category-img{
                    width:100%;
                    
                }
                .category-img img {
                    width: 100%;
                    border-radius: 6px;
                    height:100%;
                    img {
                        vertical-align: middle;
                        border-style: none;
                    }
                    .category-caption{
                        position: absolute;
                        // top:80px;
                        // right:10px;
                        // @extend .column;
                        
                        
                    
                    }
                     
                }
            }
        }

    }
 }
 .best a{
    color: #000000;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: capitalize;
    background: #ffce25;
    padding: 13px 24px;
    border-radius: 30px;
    display: inline-block;
 }
 .category-caption  h2 {
    color: #1f1f1f;
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    margin-bottom: 13px;
    font-family: "Playfair Display", serif;
    color: #0b1c39;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
 }
 .category-caption .collection {
    display: block;
    color: #0071fe;
    // text-transform: capitalize;
    font-size: 23px;
    line-height: 1.1;
    text-transform: capitalize;
    font-family: "Yellowtail", cursive;
    font-weight: 600;
    text-shadow: 0px -3px 0px #fff;
    margin-top: -8px;
 }
 .category-item {
    text-align: center!important;
    
}
.category-caption p {
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    margin-top: 0;
}    
.category-caption{
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    // display:inline-block;
    position:absolute;
}
