.container{
    width:1200px;
    height:700px;
    display:grid;
    grid-template-columns:30% 20% 25% 25% ;
    grid-template-rows: 90% 10% ;
    grid-template-areas:
         "footlogo quicklinks newproducts support"
         "copyrights copyrights copyrights socials"; 
    .footlogo{
            grid-area:footlogo;
            display: inline-block;
        }
    .quicklinks{
            display: inline-block;
            grid-area: quicklinks;
     }
    .newproducts{
            display: inline-block;
            grid-area: newproducts;
    }
    .support{
            display: inline-block;
            grid-area: support;
    }
     .copyrights{
            display: inline-block;
            grid-area: copyrights;
            p {
                color: #888888;
                font-weight: 300;
                font-size: 16px;
                line-height: 2;
                margin-bottom: 20px;
            }
    }
    .socials{
            display: inline-block;
            grid-area: socials;
        }     
    .footer-tittle{
            text-align:left;
            margin-bottom: 50px;
            .footer-title 
            h4 {
                color: #000;
                font-size: 20px;
                margin-bottom: 29px;
                font-weight: 500;
                text-transform: capitalize;
                
            }
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                 li {margin-bottom: 15px;
                 }
                a{
                    transition: all 0.3s ease-out 0s;
                    color: #868c98;
                    font-weight: 300;
                    outline: medium none;
                    background-color: transparent;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
              
                p {
                    color: #868c98;
                    font-size: 16px;
                    margin-bottom: 50px;
                    line-height: 1.8;
                    
                    font-weight: normal;
                }
            
        
        }
}





