#header{
    margin:0px;
    padding: 0px;
    width:100%;
    height: 125px;
    .grid-container{
        display:flex;
        flex-direction:row;
        height:100%;
        width:100%;
        justify-content:space-between;
        align-items:center;
        margin:5px;
        .start{
            display: inline-block;
            background-color: red;

        }
        .end{
            height:100%;
            padding:10px;  
            box-sizing:border-box;  
            
            .menu-blog{
                height:100%;
                align-items:center;
                justify-content:center;
                margin-left: 200px;
                padding:6px 15px;
                font-size: 18px;
                }   
              ul{
                    list-style-type: none;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    padding:5px;
                    justify-content: space-between;
                    display: inline-block;
                    li
                    {
                        list-style: none;
                        display:inline-block;
                        
                        
                    }
                    

                  }
                  
                   
        }
        
      }
}
.logo{
    justify-content: center;
    align-items: center;
    display: inline-block;
  }
//   border: 1px solid #eeeeee;
//   border-radius: 30px;
//   padding: 10px 20px;
//   width: 100%;

  .search{
   width:40%;
   font-size: 15px;
   text-align: center; 
   border-radius:55px; 
   display: flex;
   flex-direction: row;
}
.search-products{
    position: relative;
}
.search-icon{
    position: absolute;
}
.search input[type=text] {
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
 }
 .shop-card i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    color: #4e4e4e;
    font-size: 14px;
    cursor: pointer;

 }
 .fa, .fas {
    font-weight: 900;
}
  
 

