
.signuparea{
   
    
    min-height: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    background-image: url("../image/category.webp");
    .s-container{
        height: 100%;
        width:100%;
        text-align: center;
        display:flex;
        justify-content: center;
        // background-image: url("../image/category.webp");
        background-position: center center;
        .login-back{
            
            margin:auto;
        
        h2{
             color: #000;
             font-size: 50px;
             font-weight: 700;
             text-transform: capitalize;
            
        
         }
        }
    }
    
}



form {
display: grid;
padding: 1em;
background: #f9f9f9;
border: 1px solid #c1c1c1;
margin: 2rem auto 4rem auto;
max-width: 600px;
padding: 1em;
margin-bottom: 30px;
}

form input {
background: #fff;
border: 1px solid #9c9c9c;

}
form button {
border: 1px solid red;

padding: 0.7em;
width: 100%;
border: 0;
text-transform: uppercase;
font-weight: 400;
}
form button:hover {
background: #2577fd;
color:white;
border: none;
}
label {
padding: 0.5em 0.5em 0.5em 0;
}

input {
padding: 0.7em;
margin-bottom: 0.5rem;
}


@media (min-width: 400px) {
form {

grid-template-columns: 200px 1fr;
grid-gap: 16px;
}

label {
text-align: right;
grid-column: 1 / 2;
}

input,
button {
grid-column: 2 / 3;
}
}